{% extends "layout.html.twig" %}

{% block title %}Quotemaker{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <p><a class="btn btn-primary" href="/admin/newfencetype" role="button">New Fence Type</a></p>
    <table class="table table-hover">
        <tr>
            <th>FENCE TYPE</th>
            <th></th>
            <th></th>
        </tr>
        {% for fenceType in fenceTypes %}
            <tr>
                <td>{{fenceType.description}}</td>
                <td><a href="/admin/editfencetype?id={{fenceType.id}}" title="Edit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                <td><a href="/admin/deletefencetype?id={{fenceType.id}}" title="Delete" onclick="return confirm('Are you sure you want to delete this Fence Type?')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
